<%= form_with(model: [:admin, location], local: true) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <h6 class="h6">General Info</h6>
      <div class="field">
        <%= f.label :name, class: 'small' %><br />
        <%= f.text_field :name, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :contact_name, class: 'small' %><br />
        <%= f.text_field :contact_name, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :contact_email, class: 'small' %><br />
        <%= f.text_field :contact_email, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :contact_phone, class: 'small' %><br />
        <%= f.text_field :contact_phone, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :contact_fax, class: 'small' %><br />
        <%= f.text_field :contact_fax, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :link_facebook, class: 'small' %><br />
        <%= f.text_field :link_facebook, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :link_twitter, class: 'small' %><br />
        <%= f.text_field :link_twitter, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :link_instagram, class: 'small' %><br />
        <%= f.text_field :link_instagram, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :link_website, class: 'small' %><br />
        <%= f.text_field :link_website, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :link_menu, class: 'small' %><br />
        <%= f.text_field :link_menu, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :notes, class: 'small' %><br />
        <%= f.text_area :notes, class: 'form-control form-control-sm' %>
      </div>

    </div>
    <div class="col-md-4">
      <h6 class="h6">Address</h6>
      <div class="field">
        <%= f.label :address_lat, class: 'small' %><br />
        <%= f.text_field :address_lat, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :address_lng, class: 'small' %><br />
        <%= f.text_field :address_lng, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :address_street, class: 'small' %><br />
        <%= f.text_field :address_street, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :address_street2, class: 'small' %><br />
        <%= f.text_field :address_street2, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :address_city, class: 'small' %><br />
        <%= f.text_field :address_city, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :address_state, class: 'small' %><br />
        <%= f.text_field :address_state, class: 'form-control form-control-sm' %>
      </div>

      <div class="field">
        <%= f.label :address_zip, class: 'small' %><br />
        <%= f.text_field :address_zip, class: 'form-control form-control-sm' %>
      </div>

      <hr/>

      <div class="field">
        <h6 class="h6">Delivery Options</h6>
        <div class="form-check">
          <%= f.check_box :drive_through_drive_up, class: 'form-check-input' %>
          <%= f.label :drive_through_drive_up, class: 'form-check-label small' %>
        </div>

        <div class="form-check">
          <%= f.check_box :takeout, class: 'form-check-input' %>
          <%= f.label :takeout, class: 'form-check-label small' %>
        </div>

        <div class="form-check">
          <%= f.check_box :delivery, class: 'form-check-input' %>
          <%= f.label :delivery, class: 'form-check-label small' %>
        </div>

        <div class="form-check">
          <%= f.check_box :dine_in, class: 'form-check-input' %>
          <%= f.label :dine_in, class: 'form-check-label small' %>
        </div>

        <div class="field">
          <%= f.label :delivery_notes, class: 'small' %><br />
          <%= f.text_area :delivery_notes, class: 'form-control form-control-sm' %>
        </div>
      </div>

      <div class="field">
        <%= f.label :keywords, class: 'small' %><br />
        <div class="alert alert-info small py-2 px-2 mb-2" role="alert">
          Add search keywords separated by commas (no apostrophes necessary). Example could be: <strong>pizzas, calzone, wings, beer, wine, ice cream</strong>.<br/>Use commonly-searched terms that represent the business, and use plural instead of singular nouns unless the plural changes the spelling of the noun. I.e. use 'pizzas' because if someone searches 'pizza', it will find 'pizza' in 'pizzas'.
        </div>
        <%= f.text_field :keywords, class: 'form-control form-control-sm' %>
      </div>

    </div>

    <div class="col-md-4">
      <div class="field">
        <h6 class="h6">Display Controls</h6>
        <div class="field">
          <%= f.label :business_type, class: 'small' %><br/>
          <%= f.label :business_type, "Current types: #{Location.unique_business_types.join(', ')}", class: 'small' %>
          <%= f.text_field :business_type, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <div class="row">
            <div class="col-md-6">
              <div class="form-check">
                <%= f.check_box :open, class: 'form-check-input' %>
                <%= f.label :open, class: 'form-check-label small' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-check">
                <%= f.check_box :visible, class: 'form-check-input' %>
                <%= f.label :visible, class: 'form-check-label small' %>
              </div>
            </div>
          </div>

        </div>

        <div class="alert alert-danger small py-2 px-2 my-0" role="alert">
          If location is not locked, changes to app could overwrite data.
        </div>
        <div class="form-check">
          <%= f.check_box :locked, class: 'form-check-input' %>
          <%= f.label :locked, 'Locked', class: 'form-check-label small' %><br/>
        </div>

      </div>

      <hr/>

      <div class="field">
        <h6 class="field">Hours</h6>

        <div class="field">
          <%= f.label :hours_monday, class: 'small' %><br />
          <%= f.text_field :hours_monday, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= f.label :hours_tuesday, class: 'small' %><br />
          <%= f.text_field :hours_tuesday, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= f.label :hours_wednesday, class: 'small' %><br />
          <%= f.text_field :hours_wednesday, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= f.label :hours_thursday, class: 'small' %><br />
          <%= f.text_field :hours_thursday, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= f.label :hours_friday, class: 'small' %><br />
          <%= f.text_field :hours_friday, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= f.label :hours_saturday, class: 'small' %><br />
          <%= f.text_field :hours_saturday, class: 'form-control form-control-sm' %>
        </div>

        <div class="field">
          <%= f.label :hours_sunday, class: 'small' %><br />
          <%= f.text_field :hours_sunday, class: 'form-control form-control-sm' %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
