<%= form_with(model: [:admin, location], local: true) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :contact_name %><br />
        <%= f.text_field :contact_name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :contact_email %><br />
        <%= f.text_field :contact_email, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :contact_phone %><br />
        <%= f.text_field :contact_phone, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :contact_fax %><br />
        <%= f.text_field :contact_fax, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :link_facebook %><br />
        <%= f.text_field :link_facebook, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :link_twitter %><br />
        <%= f.text_field :link_twitter, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :link_instagram %><br />
        <%= f.text_field :link_instagram, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :link_website %><br />
        <%= f.text_field :link_website, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :link_menu %><br />
        <%= f.text_field :link_menu, class: 'form-control' %>
      </div>

    </div>
    <div class="col-md-4">

      <div class="field">
        <%= f.label :address_lat %><br />
        <%= f.text_field :address_lat, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :address_lng %><br />
        <%= f.text_field :address_lng, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :address_street %><br />
        <%= f.text_field :address_street, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :address_street2 %><br />
        <%= f.text_field :address_street2, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :address_city %><br />
        <%= f.text_field :address_city, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :address_state %><br />
        <%= f.text_field :address_state, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :address_zip %><br />
        <%= f.text_field :address_zip, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :drive_through_drive_up %><br />
        <%= f.check_box :drive_through_drive_up, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :takeout %><br />
        <%= f.check_box :takeout, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :delivery %><br />
        <%= f.check_box :delivery, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-4">

    </div>
  </div>


  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<!--  t.string "name"
    t.string "tooltip"
    t.text "description"

    t.boolean "open"
    t.boolean "visible"
    t.datetime "created_at", precision: 6, null: false
    t.datetime "updated_at", precision: 6, null: false
    t.text "open_hours"
    t.string "business_type"
    t.text "notes"
    t.text "delivery_notes"
    t.string "keywords"
    t.string "hours_monday"
    t.string "hours_tuesday"
    t.string "hours_wednesday"
    t.string "hours_thursday"
    t.string "hours_friday"
    t.string "hours_saturday"
    t.string "hours_sunday" -->