<nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'heights', width: '30', height: '30', class: 'd-inline-block align-top' %>
    Open in the Heights
  <% end %>
  <ul class="navbar-nav">
    <% if current_user&.is_admin? %>
      <li class="nav-item"><%= link_to 'Admin', admin_dashboard_index_path, class: 'nav-link' %></li>
    <% end %>
    <% if user_signed_in? %>
      <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
    <% else %>
      <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></li>
    <% end %>
  </ul>
</nav>

